/**
 * Copyright (c) 2017-present, Facebook, Inc.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */
 
/* your custom css */

h2.headerTitleWithLogo {
	display: none !important;
}

div.headerWrapper {
	padding-top: 2px;
}

.fixedHeaderContainer header img {
	margin-top: 2px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

thead {
	display: none;
}
